/*******  FONT SETUP  *******/
@font-face {font-family: "AT";src: url("../fonts/AmericanTypewriter.ttf") format("truetype");}
@font-face {font-family: "AT-Bold";src: url("../fonts/AmericanTypewriter-Bold.ttf") format("truetype");}
html {width:100%;height: 100%;overflow: hidden;}
body{background:#F6325A;margin:0;font-family: "AT-Bold", Arial, sans-serif;max-height: 100%;max-width: 100%;height:100%;width:100%;}
.test{height: 100%;}


/*******  MOBILE CSS  *******/
#mobile-cont{width:100%;height:100%;}
/*  login  */
#login-form {
    text-align: center;
}

/*  timer  */
#time-mob-cont{width:100%;height:5%;background:rgba(0,0,0,0.1);position:relative;text-align: left;}

/*  question  */
#question-nr-mob-cont{width:100%;height:10%;position:relative;text-align: left;font-size: 20px;float:left; color:#313131;}
#question-nr-mob{max-width:100%;height:auto;padding: 5%;position: relative;top: 50%;transform: translateY(-50%);}

/*  answers  */
.btn-style{line-height:27px;width:100%;height:20%;max-width:100%;font-family: "AT-Bold",sans-serif;background-color: #F6325A;border: 2pt solid #fff;color: white;margin:0 0 5% 0;text-align: center;text-decoration: none;display: inline-block;font-size: 28px;border-radius: 5px;float:left;position:relative;}
#answers-mob-cont{max-width:90%;width:100%;max-height:100%;height:77%;padding: 0 5% 0 5%;float:left;position: relative;word-wrap: break-word;}
#answers-mob-cont button:hover{background: #fff;color:#F6325A;}
#answers-mob-cont input:hover{background: #fff;color:#F6325A;}

/*  statusbar  */
#status-mob-cont{width:100%;height:8%;background:#fff;position:relative;float:left;text-align:left;bottom:0;}
#points-cont{width:85%;height:100%;position:relative;float:left;text-align:left;font-size: 20px;line-height:260%; }
#points{position: relative;top: 50%;transform: translateY(-50%);color:#F6325A;padding-left:5%;}
#position-cont{width:15%;height:100%;background:#585858;position:relative;float:left;text-align: center;font-size: 20px;line-height:280% ;}
#position{position: relative;top: 50%;transform: translateY(-50%);color:#fff;text-align: center;}

/*******  DESKTOP CSS  *******/
#desktop-cont{width:auto;height:100%;background:#fff!important;}

/*  leaderboard  */
#leaderboard-cont{width:30%;min-height:100%;position:relative;float:right;text-align: left;font-size: 26px;color:#fff;background:#F6325A;margin:0;}
#leaderboard{max-width:100%;min-height:100%;padding:0 20px 0 20px;overflow: scroll!important;}
#leaderboard-title{font-size: 40px;padding:20px 0 20px 0;text-align: center;}
.leaderboard-card{font-family:"AT",sans-serif;background:#fff; height:auto;max-width:100%;position:relative;padding:20px 20px 20px 20px;box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);color:#313131;text-align:left;margin-bottom: 20px;overflow: hidden;border-radius: 5px;}
.leaderboard-card-score{font-family:"AT-Bold",sans-serif;text-align: right;float:right;position: relative;}

/*  quiz + roomname  */
#room-cont{width:70%;height:auto;position:relative;font-size: 26px;float:left; color:#313131;}
#room{max-width:70%;height:auto;padding: 70px 0 0 80px;}

/*  question  */
#question-cont{width:70%;height:auto;position:relative;text-align: left;font-size: 60px;float:left; color:#F6325A;}
#question{max-width:100%;height:auto;padding: 70px 80px 4% 80px;line-height:normal;}

#question-nr-cont{width:70%;height:auto;position:relative;text-align: left;font-size: 26px;float:left; color:#313131;}
#question-nr{max-width:100%;height:auto;padding: 0 0 0 80px;}

/*  optional image  */
#image-cont{width:70%;height:100%;position:relative;text-align: left;font-size: 26px;float:left; color:#313131;}
#image{height:auto;margin: 30px 80px 20px 80px;border-radius: 5px;background: lightgrey;overflow:hidden;}

/*  timer  */
#time-cont{width:100%;height:35px;background:#DADADA;position:fixed;text-align: left;bottom:0;}

/*******  TIME BAR  *******/
.progress {height: 100%;}
.progress > svg {width:100%;height:100%!important;display: block;}
.progressbar-text{font-size:20px;color:#313131 !important;left: 20px !important;transform: translate(0, -50%)!important;}

/******** DESKTOP STYLES ********/
#startScreen {background-color: #F6325A;color: #FFF;text-align: center;padding: 25px;position: absolute;width: 100%;height: 100%;}
#startScreen button {margin-top: 25px; transition: ease-in-out 0.2s}
#startScreen button:hover {background: #fff;color: #F6325A;}
html button:focus {outline:none;}

h1{font-family: "AT-Bold", sans-serif;color:#fff; font-size: 72px;padding:0 0 2% 0;line-height: 72px;}
h2{font-family: "AT-Bold", sans-serif;color:#F6325A; font-size: 72px;padding:0 0 4% 0;line-height: 72px;}
h5{color:#313131;font-size:16px;}
#welkom{float:left;position: relative;margin:2% 0 0 2%;text-align: left;}
#namen{position:fixed;bottom:0;margin:0 2% 1% 2%;right:0;}
#namen h5 {color: #313131;}
#namen a {color: #313131; transition: ease-in-out 0.2s;}
#namen a:hover {color: #fff; text-decoration: none;}
.btn-welkom{width:20%;height:100%;font-family: "AT-Bold",sans-serif;background-color: #F6325A;border: 2pt solid #fff;color: white;text-align: center;text-decoration: none;display: block;line-height:28px;font-size: 28px;border-radius: 5px;float:left;position:relative;}
#btn-start{position:relative;float:left;width:100%; height: 10%;min-height:10%;margin:0 0 0 2%;}


.hvr-fade {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;overflow: hidden;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: color, background-color;transition-property: color, background-color;}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {background-color: #fff;color: #F6325A;}

#lobby{float:left;position: relative;margin:2% 0 0 2%;text-align: left;padding:25px;}
#playerlist{width:100%;height:100%;float:left;position: relative;padding:0 25px 0 25px;}
#kolom1{width:27.5%;height:auto;float:left;position: relative;margin:0 0 0 2%;background: rgba(0, 0, 0, 0.1);padding:1%;}
#kolom2{width:27.5%;height:auto;float:left;position: relative;margin:0 0 0 2%;background: rgba(0, 0, 0, 0.1);padding:1%;}
#kolom3{width:27.5%;height:auto;float:left;position: relative;margin:0 0 0 2%;background: rgba(0, 0, 0, 0.1);padding:1%;}
#btn-start-game{position:relative;float:right;width:20%; height: auto;margin:4% 4% 0 2%;}
.btn-start-agame{line-height:80px;padding:1%;width:100%;font-family: "AT-Bold",sans-serif;background-color: #F6325A;border: 2pt solid #fff;color: white;text-align: center;text-decoration: none;display: block;font-size: 28px;border-radius: 5px;float:left;position:relative;}

#vraag-intro{z-index:100;position:absolute;top: 50%;transform: translateY(-50%);margin:0 auto;text-align: center;height: 100%;width:100%;background: #F6325A;}
#intro-text{position:relative;top: 45%;transform: translateY(-50%);margin:0 auto;text-align: center;}

#vraag-intro-mob{z-index:100;position:absolute;top: 50%;transform: translateY(-50%);margin:0 auto;height: 100%;width:100%;background: #F6325A;}
#intro-text-mob{position:relative;top: 50%;transform: translateY(-50%);text-align: left;font-size: 40px; color:#fff;line-height: 50px;margin:4% 0 4% 4%;}

#btn-stelVraag{margin:0 auto;position:relative;width:20%;height: auto;}
.btn-stelVraag{line-height:80px;padding:1%;width:100%;font-family: "AT-Bold",sans-serif;background-color: #F6325A;border: 2pt solid #fff;color: white;text-align: center;text-decoration: none;display: block;font-size: 28px;border-radius: 5px;float:left;position:relative;}
.hidden{display: none;}
.show{display: block;
    z-index: 101;}

#antwoord-uitleg{z-index:100;position:absolute;margin:0 auto;height: 100%;width:70%;background: #fff;}
#antwoord-container{float:left;position: relative;margin:2% 0 0 2%;text-align: left;padding:25px;}
#antwoord-juist{color:#313131;font-size: 30px;padding:0 0 4% 0;}
#antwoord-titel{position:relative;color:#F6325A!important;}
#antwoord-text{position:relative;color:#313131;font-family: "AT", sans-serif;font-size: 30px;line-height: 40px;padding-right:2%;}
#antwoord-btn{margin:0 0 0 2%;width:40%;float:left;position: relative;}
#btn-volgendeVraag{position:relative;height: auto;padding:25px;width:100%;}
.btn-volgendeVraag{line-height:80px;padding:0% 10%;font-family: "AT-Bold",sans-serif;background-color: #fff;border: 2pt solid #F6325A;color: #F6325A;text-align: center;text-decoration: none;display: block;font-size: 28px;border-radius: 5px;float:left;position:relative;}
#btn-volgendeVraag button:hover{background: #F6325A;color:#fff;}

.animate{-webkit-animation: uitFaden 0.5s;-webkit-animation-iteration-count: 1;-webkit-animation-timing-function:ease-in-out;-webkit-animation-fill-mode: forwards;}
.animateIn{-webkit-animation: slideInLeft 1s;-webkit-animation-iteration-count: 1;-webkit-animation-timing-function:ease-in-out;}
.animateOut{-webkit-animation: slideOutLeft 1s;-webkit-animation-iteration-count: 1;-webkit-animation-timing-function:ease-in-out;}

.animpje.ng-enter {
    animation: bounceInUp 1s;
}

.animpje.ng-leave {
    animation: slideOuLeft 1s;

}
@keyframes uitFaden {
    from {z-index:100;transition: ease-in-out 1s;opacity: 1;}
    to {z-index: -1;opacity: 0;}
}
#welkom-cont-mob{margin-top: 60%;height: 100%;width:100%;}
#welkom-btn-mob{padding:0 4%;margin:0 auto !important;text-align: center;position:relative;}
.btn-welkom-mob{padding: 7% 1%;width:100%;font-family: "AT-Bold",sans-serif;background-color: #F6325A;border: 2pt solid #fff;color: white;text-align: center;text-decoration: none;display: block;font-size: 28px;border-radius: 5px;float:left;position:relative;}
input.btn-welkom-mob{width:100%;}
#welkom-btn-mob button:active{background: #fff;color: #F6325A;}
#welkom-login{font-size: 40px; color:#fff;line-height: 50px;margin:4% 0 4% 4%;}
iframe {width:100%;height: 400px;}
#login-cont-mob{margin-top: 60%;height: 100%;min-width:100%;}
#welkom-btn-mob-text-veld {font-family:AT;font-size:30px;color:#fff;background:rgba(0, 0, 0, 0.2);border:none;box-shadow: none;width:96%;padding: 7% 0 7% 4%;border-bottom:2px solid #fff;text-align: center}

#filter{background: rgba(120, 179, 72, 0.5);background-size: cover;position: fixed;left:0;right:0;height:100%;}
#vraag-uitslag-mob{position:absolute;margin:0 auto;height: 100%;width:100%;}
#antwoord-cont-mob{position:relative;top: 50%;transform: translateY(-50%);text-align: left;font-size: 40px;line-height: 50px;margin:0 0 0 4%;}
#antwoord-juist-mob{color:#F6325A;font-size: 40px;padding:0 4% 2% 0;text-align: center;}
#antwoord-juist-punten-mob{color:#fff;font-size: 20px;padding:0 4% 4% 0;text-align: center;}

#vraag-uitslag-fout-mob{position:absolute;margin:0 auto;height: 100%;width:100%;background: #F6325A;}
#antwoord-cont-fout-mob{position:relative;top: 50%;transform: translateY(-50%);text-align: left;font-size: 40px; color:#fff;line-height: 50px;margin:0 0 0 4%;}
#antwoord-fout-mob{color:#fff;font-size: 40px;padding:0 0 4% 0;}
#antwoord-cont-fout-mob img {border-radius: 5px;width:96%;margin:4% 0 0 0;}
