<!-- Load Angular mobileController-->
<script src="../controllers/mobileController.js"></script>

<div id="mobile-cont" style="background-color: #F6325A;">
    <!--Timebar-->
    <div id="time-mob-cont">
        <div class="progress" id="progress-mob"></div>
    </div>

    <!--Vraag-->
    <div id="question-mob-cont"><div id="question-mob">Waar vonden de dramatische Spelen van '72 plaats?</div></div>
    <div id="question-nr-mob-cont"><div id="question-nr-mob">vraag 1/21</div></div>

    <!--Antwoorden-->
    <div id="answers-mob-cont">
        <button class="btn-style">München</button>
        <button class="btn-style">Amsterdam</button>
        <button class="btn-style">Parijs</button>
        <button class="btn-style">Berlijn</button>
    </div>

    <!--Status-->
    <div id="status-mob-cont">
        <div id="points-cont"><div id="points">Je hebt 20 punten</div></div><!--op de 20 moet een var komen-->
        <div id="position-cont"><div id="position">1e</div></div>
    </div>

    <script src="../javascripts/progressbar.min.js"></script>
    <script src="../main.js"></script>
</div>