<div id="eindscherm">
    <div id="filter-eindscherm"></div>
    <style>#eindscherm{background:url('http://i.giphy.com/ViBVdasKrxSGk.gif')no-repeat right;background-size: cover;}</style> 
    <div id="intro-text">
        <h4 style="font-size: 52px; margin-bottom: 0;">Er is al een sessie aan de gang!</h4>
        <h5 style="font-size: 28px; color: white; line-height: 1em; margin-top: 0;">Surf op je smartphone naar socketquiz.sanderschekman.com om mee te spelen!</h5>
        <h6 style="margin-top: 50px;">#TemporaryWorkaround</h6>
    </div>
</div>
