<div id="desktop-cont">
    <!--Leaderboard-->
    <div id="leaderboard-cont">
        <div id="leaderboard-title"><img src="images/crown.png" width="auto" height="40"/> Klassement</div>
        <div id="leaderboard">
        </div>
    </div>

    <!--Vraag-->
    <div id="question-cont"><div id="question"></div></div>
    <div id="question-nr-cont"><div id="question-nr">vraag 1/21 </div></div>
    <button onclick="loadQuestion()" id="next-question">Volgende vraag</button>

    <!--Images-->
    <div id="image-cont"><div id="image"></div></div>

    <!--Timebar-->
    <div id="time-cont">
        <div class="progress" id="progress"></div>
    </div>
</div>