<div id="vraag-intro">
    <div id="intro-text">
        <h1>Are you ready?</h1>
        <div id="btn-stelVraag"><button onclick="loadQuestion()" id="next-question" class="btn-stelVraag hvr-fade">Stel vraag!</button></div>
    </div>
</div>
<div id="antwoord-uitleg" class="hidden" >
    <div id="antwoord-container">
        <div id="antwoord-juist">Dit is het juiste antwoord:</div>
        <div id="antwoord-titel"></div>
        <div id="antwoord-text"></div>
    </div>
    <div id="antwoord-btn"><div id="btn-volgendeVraag"><button onclick="loadQuestion()" id="next-question" class="btn-volgendeVraag hvr-fade">Stel vraag!</button></div></div>
</div>

<div id="desktop-cont">
    <!--Leaderboard-->
    <div id="leaderboard-cont">
        <div id="leaderboard-title"><img src="images/crown.png" width="auto" height="40"/> Klassement</div>
        <div id="leaderboard">
            <div class="leaderboard-card">Walter White<div class="leaderboard-card-score">22pnt</div></div>
            <div class="leaderboard-card">Hector Salamanca<div class="leaderboard-card-score">20pnt</div></div>
            <div class="leaderboard-card">Hank Schrader<div class="leaderboard-card-score">18pnt</div></div>
            <div class="leaderboard-card">Ted Beneke<div class="leaderboard-card-score">16pnt</div></div>
            <div class="leaderboard-card">Marie Schrader<div class="leaderboard-card-score">13pnt</div></div>
        </div>
    </div>

    <!--Vraag-->
    <div id="question-cont"><div id="question">Test</div></div>
    <div id="question-nr-cont"><div id="question-nr">vraag 1/21</div></div>
    <!--Images-->
    <div id="image-cont"><div id="image"></div></div>

    <!--Timebar-->
    <div id="time-cont">
        <div class="progress" id="progress"></div>
    </div>
</div>