<!--<<<<<<< HEAD-->
<!--<form id="login-form">-->
    <!--<input id="uname" placeholder="Naam" type="text"/>-->
    <!--<input id="submitUser" onclick="send()" type="submit"/>-->
<!--</form>-->
<!--=======-->
<div id="welkom-cont-mob">
    <div id="welkom-login">Wat is je naam?</div>

    <div id="welkom-btn-mob">
        <form>
            <input id="welkom-btn-mob-text-veld" type="text"/>
            <input class="btn-welkom-mob" type="submit" ng-click="setRoute('/mobile/quiz-mob')" value="Let's go!" onclick="send()"/>
        </form>
    </div>
</div>

<script>
    var socket = io();

    io.sockets.on('connection', function (socket) {
        function send (username) {
            socket.emit('new user');
            updateClients();
        }

        socket.on('disconnect', function () {
            for(var i=0; i<players.length; i++) {
                if(players[i] == socket.user) {
                    delete players[players[i]];
                }
            }
            updateClients();
        });

        function updateClients() {
            io.sockets.emit('update', players);
        }

    });

</script>