<!--<<<<<<< HEAD-->
<!--<form id="login-form">-->
    <!--<input id="uname" placeholder="Naam" type="text"/>-->
    <!--<input id="submitUser" onclick="send()" type="submit"/>-->
<!--</form>-->
<!--=======-->
<div id="welkom-cont-mob">
    <div id="welkom-login">Wat is je naam?</div>

    <div id="welkom-btn-mob">
        <form>
            <input id="welkom-btn-mob-text-veld" type="text"/>
            <input class="btn-welkom-mob" type="submit" ng-click="setRoute('/mobile/quiz-mob')" value="Let's go!" onclick="send()"/>
        </form>
    </div>
</div>