<div id="vraag-intro-mob">
    <div id="intro-text-mob">
        Wacht tot de beheerder het spel start...
    </div>
</div>

<div id="vraag-uitslag-mob" class="animateIn" >
    <div id="antwoord-cont-mob">
        <img src="https://d13yacurqjgara.cloudfront.net/users/159981/screenshots/2112264/checkmark.gif"/>
        <div id="antwoord-juist-mob">Juist!</div>
        <div id="antwoord-juist-punten-mob">+1 punt</div>
    </div>
</div>
<!-- Zodra er een goed fout antwoord in zit kunnen we deze activeren
<div id="vraag-uitslag-fout-mob" class="animateIn" >
    <div id="antwoord-cont-fout-mob">
        <div id="antwoord-fout-mob">Helaas...</div>
        <img src="https://m.popkey.co/18a679/4gl7D.gif"/>
    </div>
</div>-->


<div id="mobile-cont">
    <!--Timebar-->
    <div id="time-mob-cont">
        <div class="progress" id="progress"></div>
    </div>

    <!--Vraag
    <div id="question-mob-cont"><div id="question-mob"></div></div>-->
    <div id="question-nr-mob-cont"><div id="question-nr-mob"></div></div>

    <!--Antwoorden-->
    <div id="answers-mob-cont">
        <button class="btn-style" value="0" id="qstn1" onclick="onoff()"></button>
        <button class="btn-style" id="qstn2"></button>
        <button class="btn-style" id="qstn3"></button>
        <button class="btn-style" id="qstn4"></button>

        <!--<script type="text/javascript">
            function onoff(){
                if(angular.element(document).find('#qstn1').val() == 0){
                    angular.element(document).find('#qstn1').val(value = 1)
                }
            }
        </script>-->
    </div>

    <!--Status-->
    <div id="status-mob-cont">
        <div id="points-cont"><div id="points">Je hebt 20 punten</div></div><!--op de 20 moet een var komen-->
        <div id="position-cont"><div id="position">1e</div></div>
    </div>
</div>