<button ng-click="setRoute('/mobile/login')" class="btn-welkom">Login</button>


<!--<div id="mobile-cont">-->
    <!--&lt;!&ndash;Timebar&ndash;&gt;-->
    <!--<div id="time-mob-cont">-->
        <!--<div class="progress" id="progress-mob"></div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Vraag-->
    <!--<div id="question-mob-cont"><div id="question-mob"></div></div>&ndash;&gt;-->
    <!--<div id="question-nr-mob-cont"><div id="question-nr-mob">vraag 1/21</div></div>-->

    <!--&lt;!&ndash;Antwoorden&ndash;&gt;-->
    <!--<div id="answers-mob-cont">-->
        <!--<button class="btn-style" id="qstn1">München</button>-->
        <!--<button class="btn-style" id="qstn2">Amsterdam</button>-->
        <!--<button class="btn-style" id="qstn3">Parijs</button>-->
        <!--<button class="btn-style" id="qstn4">Berlijn</button>-->
    <!--</div>-->

    <!--&lt;!&ndash;Status&ndash;&gt;-->
    <!--<div id="status-mob-cont">-->
        <!--<div id="points-cont"><div id="points">Je hebt 20 punten</div></div>&lt;!&ndash;op de 20 moet een var komen&ndash;&gt;-->
        <!--<div id="position-cont"><div id="position">1e</div></div>-->
    <!--</div>-->
<!--</div>-->